{% extends "base_generic.html" %}

{% block content %}
<h1>Author List</h1>
    {% if author_list %}
        <ul>
        {% for author in author_list %}
            <li>
                <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a>
            </li>
        {% endfor %}
    </ul>
    To create a new author, navigate here: catalog/author/create/
    To delete an author, navigate here: author/<int:pk>/delete/
    To update an author, navigate here: author/<int:pk>/update/
    {% else %}
        <p>No one has written any books yet</p>
    {% endif %}
{% endblock %}